{% extends "layout.html" %}

{% block body %}
<h1><strong>Histórico do Sistema:</strong><small> <h3>Usuário -- {{session.login}}</h3></small></h1>
<hr>

<table class="table table-striped">
    <tr>
      <th>Ação</th>
      <th>Login</th>
      <th>Password</th>
      <th>Email</th>
      <th>Data_Registro</th>
    </tr>
    {% for registro in registros %}
      <tr>
        <td>{{registro.log_acao}}</td>
        <td>{{registro.log_login}}</td>
        <td>{{registro.log_senha}}</td>
        <td>{{registro.log_email}}</td>
        <td>{{registro.log_hora_registro}}</td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}